<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask Web Page</title>
</head>
<body>
    <h1 style="color: blue;">This is out first flask web page</h1>
    <p style="color: rgb(255, 0, 106);">This is paragraph</p> 
    
    <!-- Jinja Syntax: Used for getting/fetching the values from python code or we can write python code also -->

    {% if n %}
    <h3>Name:{{n}}</h3>                     
    <h3>Age:{{a}}</h3> 
    {% endif %} 

    {% if data %}
    {% for key, value in data.items()%}
    <h3>{{key}}: {{value}}</h3>
    {%endfor%}
    {% endif %} 

    <h2></h2>
</body>
</html>   